README
u.genre
u3.test
Recommendation Problem - Movie Data Set.ipynb
u.info
u4.base
allbut.pl                                     
u.item                                        
u4.test
dump_file                                     
u.occupation                                  
u5.base
mku.sh
u.user                       
u5.test
pip-selfcheck.json
u1.base                                       
ua.base
#rs.py                                         
u1.test                                       
ua.test
rs2.py
u2.base
ub.base
t-SNE.ipynb
u2.test                                       
ub.test
u.data
u3.base
